.hero-container-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle at center, #0b2a4a, #071a2d);
  padding: 2rem;
  z-index: 101;
  min-height: 80dvh;
}

.card-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  perspective: clamp(768px, 1000px, 2000px);
  width: 100%;
  z-index: 100;
}

/* Base card */

.card {
  position: relative;
  top: 5dvh;
  flex: 1 1 280px;
  max-width: 320px;
  min-width: 150px;
  height: 50dvh;
  padding: 20px;
  color: white;
  border-radius: 12px;
  text-align: left;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
  box-shadow:
    -20px 20px 40px rgba(0, 0, 0, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.3);
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05) 40%,
    rgba(0, 0, 0, 0.2)
  );
  pointer-events: none;
}

.blue {
  transform: rotate3d(0, 4, 0, -15deg) translateX(30px);
  left: 0px;
  z-index: 10;
}
.gray {
  transform: rotate3d(5, 47, 0, -17deg) translateX(30px);
  left: -32px;
  z-index: 9;
}
.green {
  transform: rotate3d(0, 4, 0, -18deg) translateX(30px);
  left: -40px;
  z-index: 8;
}

/* Hover = interactive 3D */
.card:hover {
  transform: rotateY(0deg) scale(1.05);
  z-index: 20;
}

/* Lighting overlay */
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05) 40%,
    rgba(0, 0, 0, 0.2)
  );
  pointer-events: none;
}

.card {
  box-shadow:
    -20px 20px 40px rgba(0, 0, 0, 0.6),
    inset 0 1px 2px rgba(255, 255, 255, 0.3);
}

/* Different colors */
.blue {
  background: linear-gradient(145deg, #1b46a8, #0e255a);
}
.gray {
  background: linear-gradient(145deg, #5f6e8a, #242f47);
}
.green {
  background: linear-gradient(145deg, #275715, #093009);
}

/* Typography */
.hero-container-wrapper h1 {
  position: relative;
  color: white;
  font-size: clamp(1.5rem, 2vw, 3rem);
  margin-top: 1rem;
  text-align: center;
  top: 8dvh;
}

.card-wrapper h2 {
  margin-bottom: 15px;
  font-size: clamp(1rem, 1.1vw, 2.5rem);
}

ul {
  font-size: clamp(0.7rem, 1vw, 1.1rem);
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
}

@media (max-width: 768px) {
  .card-wrapper {
    flex-direction: column;
    perspective: none;
    align-items: center;
  }

  .card {
    transform: none !important;
  }

  .card:hover {
    transform: scale(1.03);
  }

  .hero-container-wrapper h1 {
    top: -25dvh;
  }

  .blue,
  .green {
    left: -25px;
    top: -10px;
    z-index: 0;
  }

  .gray {
    left: 5px;
    top: -200px;
    z-index: 1;
  }

  .green {
    left: 35px;
    top: -350px;
    z-index: 2;
  }
}
