.app-section.section-pkg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.container.section-grid.section-pkg {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px 20px;
}

.pkg-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}

.pkg-card:hover {
  transform: scale(1.05);
  z-index: 6;
}

.pkg-card.promo {
  background-color: white;
  transform: scale(1.1);
  z-index: 5;
}

.pkg-card.promo:hover {
  transform: scale(1.15);
}

.pkg-header {
  margin-bottom: 12px;
  background-color: rgb(43, 60, 63);
  border-radius: 8px 8px 0 0;
  padding: 15px;
}

.pkg-features {
  padding: 0 20px;
}

.pkg-price {
  position: relative;
  padding: 15px;
  margin-bottom: auto;
  background-color: rgb(72, 99, 104);
  color: #fff;
  font-weight: 700;
}

.pkg-header.promo {
  background-color: rgb(54, 92, 99);
}

.pkg-title,
.pkg-subtitle {
  color: #fff;
  margin: 0;
}

.pkg-details {
  color: #ffffff;
  margin-top: 4px;
  font-size: 0.8rem;
}

.pkg-details.small {
  font-size: 0.7rem;
  color: #dfdfdf;
  font-style: italic;
}

.pkg-btn {
  margin-top: auto;
  padding: 10px 20px;
  background-color: rgb(30, 38, 41);
  color: #fff;
  border: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container.section-grid.section-pkg {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center; /* centers content */
    width: 100%;
  }
  .pkg-card {
    grid-area: 1 / 1;
  }
  .pkg-card.first {
    transform: translateX(-20%);
  }
  .pkg-card.second {
    transform: translateX(-15%);
  }
  .pkg-card.third {
    transform: translateX(-10%);
  }
}
